body{
    margin: 0%;
}
html{
    font-size: 62.5%;
    /* size: 62.5%; */
}
.welcome-sec{
    
    display: flex;
    flex-grow: 1;
    height: 56.5rem;
    background-image: url(images/blurrr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: black solid 2px; */
    
   
}
/* .info-area{
    background-image: linear-gradient(rgb(226, 202, 202),black);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
.sidebar{
    height: 56.5rem;
    width: 20.0rem;
    background-color: rgba(93, 95, 90, 0.452);
    text-align: center;
    
}
.side li {
    list-style: none;
    font-weight: 50.0rem;
    margin-top: 2.0rem;
    padding: 1% 1% 1% 0;
}
.side a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 30.0rem;
  
}
.side li:hover{
    background-color: darkgray;
}
.info-area{
    height: 100%;
    width: 100%;
    position: relative;
    border: solid black 0.3rem;
    /* width: 1300px; */
    height: 56.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-grow: 1; */
    
}
.info-area #he{
    /* text-align: center; */
    position: absolute;
    top: 30.0rem;
    /* right: 20px; */
    font-size: 5em;
    color: rgba(226, 9, 9, 0.521);
    opacity: 0;
    visibility: hidden;
    font-weight: 900;
    
}
.info-area:hover #he{
    /* top:-100px; */
    top: -3.5rem;
    opacity: 1;
    visibility: visible;
    transition: top 2s;
}
#area{
   
    padding: 2.0re 0rem 0rem 0rem;
    width: 35.0rem;
    height: 40.0rem;
    border: 0.2rem inset rgb(158, 156, 156); 
    background-color: rgba(93, 95, 90, 0.452);
    box-shadow: 1.0rem 0.5rem 1.0rem  rgb(105, 89, 89);
    overflow: hidden;
   
}
#area img{
    height: 20.0rem;
    width: 30.0rem;
    transition: height 2s;
    border-radius: 2.0rem;
}
body:hover #area img{
    height: 35.0rem;
}
#seveninfo{
    padding: 2.0rem 0rem 0rem 0rem;
    width: 35.0rem;
    height: 40.0rem;
    overflow: scroll;
    /* border: 2px solid tomato;  */
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0%;
    margin: 0%;
     background-color: rgba(83, 85, 81, 0.438);
}
.navbar li{
    list-style: none;
    /* margin-left: 10px; */
    padding: 0px 10px;
    font-weight: 500px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.spantwo > ul{
    display: flex;
}
.spanone li {
    display: inline-block;
    padding: 15px 0px 0px 0px;
}
.spantwo{
    display: inline-block;
}
.navbar li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 50.0rem;
}
.navbar li:hover{
    background-color: darkgray;
}
.navbar{
    /* background-color: rgba(93, 95, 90, 0.452); */
    padding: 1%;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: rgba(179, 176, 176, 0.678);
    padding: 1%;
    margin: 0% 2%;
    font-size: 5px;
}
.click:hover .dropdown{
    display: block;
}
/* #contact{
    margin-left: 450px;
} */

.gridsec{
    background-image: linear-gradient(rgb(31, 31, 102),rgb(19, 151, 204));
    padding: 5% 2% 2% 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.0rem 3.0rem;
    text-align: center;
}
.gridsec img {
    height: 17.0rem;
    width: 17.0rem;
}
.thirdsec{
    /* height: 90.0rem; */
    height: 100%;
    padding: 2%;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/bgthir.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.packages{
    /* height: 40.0rem; */
    padding: 5%;
    background-image: url(images/bgthir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    /* grid-column-gap: 30px; */
    align-items: center;
}
.package{
    background-color: rgba(226, 45, 45, 0.486);
    border: 0.2rem inset rgb(114, 111, 111);
    border-radius: 2.0rem;
    padding: 2%;
    width: 24.0rem;
    height: 28.0rem;
    
}
.package img{
    height: 20.0rem;
    width: 20.0rem;
    border-radius: 2.5rem;
}

.comming-soon{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.5rem;
    align-items: center;
    /* height: 40.0rem; */
}
.comming{
    border: firebrick inset 0.1rem;
    border-radius: 1.5rem;
    padding: 3% 0% 0% 0%;
}
.comming img{
    height: 15.0rem;
    width: 20.0rem;
    border-radius: 1.5rem;
 
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #060c21;
}
.contain{
    position: relative;
    width: 100%;
    padding: 5% 3% 5% 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 2.0rem;
}
.contain .box{
    position: relative;
    height: 38.0rem;
    width: 25.0rem;
    background-color: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgb(145, 141, 141);
    border-radius: 1.5rem;
    padding: 2%;
}
.content{
    position: relative;
    padding: 2.0rem;
}
.box h1{
    position: absolute;
    top: -5.5rem;
    right: 4.5rem;
    font-size: 4em;
    color: rgb(255, 255, 255,.05);
    transition: 2s;
}
.box:hover h1{
        top: -13rem;
}
.box p, h2 {
    color: rgb(94, 87, 87);
    font-size: 2.5rem;
}

.box a{
    position: relative;
    font-size: 2.0rem;
    padding: 1.0rem, 2.0rem;
    text-decoration: none;
    display: inline-block;
    color: rgb(252, 247, 247);
    background-image: radial-gradient(rgb(13, 0, 70),rgb(117, 117, 194));
    border: 0.1rem solid #fff;
    transition: 0.5s;
    transform: translateY(-4.0rem);
    opacity: 0;
    visibility: hidden;
}
.box:hover a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}